:root {
    --text-color-white: #FFFFFF;
    --text-color-dark: #495057;
    --backgroung-primary: #4263EB;
    --backgroung-primary-hover: #2342C0;
    --backgroung-primary-active: #223DAC;
    --backgroung-secondary: #7048E8;
    --backgroung-secondary-hover: #5028C6;
    --backgroung-secondary-active: #4921be;
    --background-alternative: #FFFFFF;
    --border-alternative: 1px #ACB5BD solid;
    --border-alternative-hover: 1px #212429 solid;
    --border-alternative-active: 1px #111517 solid;
}

.button {
    text-align: center;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    width: 190px;
    padding: 15px;
}

.button_primary {
    background-color: var(--backgroung-primary);
    color: var(--text-color-white);
}

.button_primary:hover {
    background-color: var(--backgroung-primary-hover);
}

.button_primary:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_primary:active {
    background-color: var(--backgroung-primary-active);
}

.button_secondary {
    background-color: var(--backgroung-secondary);
    color: var(--text-color-white);
}

.button_secondary:hover {
    background-color: var(--backgroung-secondary-hover);
}

.button_secondary:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_secondary:active {
    background-color: var(--backgroung-secondary-active);
}

.button_alternate {
    background-color: var( --background-alternative);
    color: var(--text-color-dark);
    border: var(--border-alternative);
}

.button_alternate:hover {
    border: var(--border-alternative-hover);
}

.button_alternate:disabled {
    border: var(--border-alternative);
    opacity: 0.5;
    pointer-events: none;
}

.button_alternate:active {
    border: var(--border-alternative-active);
}
