:root {
    --color-title: #212429;
    --color-text: #495057;
}

.accordion {
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: white;
    border: 1px #ACB5BD solid;
    border-radius: 8px;
    width: 730px;
    padding: 24px 32px;
}

.accordion_title {
    color:var(--color-title);
    cursor: pointer;
    list-style: none;
}

.accordion_text {
    color: var(--color-text);
    cursor: default;
}