.banner {
    font-family: 'Roboto', sans-serif;;
    background-color: var(--white);
    border-color: var(--grey-3);
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
}

.banner__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__top_header {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 6px;
}

.banner__top_link {
    color: var(--backgroung-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.banner__counter {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.banner__graph {
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-top: 39px;
    align-items: flex-end;
}

.banner__graph_item {
    background-color: var(--backgroung-primary);
    flex:1 1 calc(33.33% - 30px);
}

.large {
    height: 50px;
}

.medium {
    height: 35px;
}

.regular {
    height: 22px;
}

.small {
    height: 11px;
}