.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--backgroung-page);
}

.container {
    display: flex;
    max-width: 1110px;
    width: 100%;
    margin: auto;
}

.main {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--grey-2);
    width: 100%;
    flex-grow: 1;
}